:root {
    --color-links: magenta;
    --color-primary: blue;
    --color-secondary: white;
}

header {
    background: lightblue;
    color: var(--color-primary);
}

a {
    color: var(--color-links);
}

p a {
    color: brown;   
}

.red-text {
    color: red;
}

#page-title {
    color: var(--color-primary);
    font-family: cursive;
    text-shadow: 10px 10px magenta;
}

