* {margin: 0; padding: 0; box-sizing: border-box; outline: 2px solid red;}
/*  */

:root {
    --clr-header-bg: lightgreen;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: lightblue;
}

.wrapper {
    flex-grow: 1;
    background: lightpink;
}

header {
    background: var(--clr-header-bg);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0 2em;
    padding: 1em;
}

main {
    max-width: 20rem;
    margin: 3em auto;
    padding: 1em;
}

footer {
    background: var(--clr-header-bg);
    text-align: center;
    padding: 1em;
}




.container {
    display: flex;
    flex-direction: row;
    /* gap: .25em; */
}

.box {
    width: 50px;
    height: 50px;
    background: crimson;
    margin: 1em;
}